*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(116, 236, 196);

}

#titulo{
    display: flex;
    text-align: center;
    justify-content: center;
}


#form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

#resultado{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}